@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

nav {
  background: black;
  display: flex;
  justify-content: space-between;
  font-family: montserrat;
  height: 72px;
  padding: 10px;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  text-decoration: none;
  z-index: 999;
}

nav a {
  color: white;
  text-decoration: none;
}

.logo {
  margin-left: 100px;
}

.links {
  display: flex;
  gap: 40px;
  margin-right: 100px;
}

.links a {
  opacity: 0.69;
  transition: 0.3s;
}

.links a:hover {
  opacity: 1;
}

#burger {
  display: none;
}

section.purpose {
  margin-top: 72px;
  font-family: montserrat;
  background: url(../images/skyscrapers.png);
  background-size: cover;
  background-position: center;
  height: 639px;
}

div.introducing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 30px;
}

section.purpose img {
  margin-top: 66px;
}

section.purpose h1 {
  margin-top: 23px;
  max-width: 435px;
  font-size: 36px;
  color: white;
}

section.purpose p {
  margin-top: 67px;
  max-width: 651px;
  font-size: 16px;
  opacity: 0.8;
  color: white;
}

section.purpose button {
  margin-top: 43px;
  width: 135px;
  height: 42px;
  border: 2px solid white;
  background: none;
  color: white;
}

.orange {
  color: orange;
}

section.purpose form {
  width: 360px;
  height: 425px;
  background: #FFFFFF;
  margin-top: 75px;
  border-radius: 5px;
}

section.purpose div.form {
  margin-left: 65px;
}

section.purpose form h2 {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-top: 17px;
}

section.purpose form h3 {
  padding-left: 50px;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  padding-top: 46px;
}

input[type="text"] {
  margin-top: 24px;
  width: 260px;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  border-bottom: 1px solid #D8D8D8;
  color: #D8D8D8;
  line-height: 16px;
}

div.contact-info {
  padding-left: 50px;
}

input[type="radio"]  {
  margin-top: 18px;
}

div.radio-btn {
  font-size: 9px;
  font-weight: 600;
  padding-left: 50px;
}

input[type="submit"] {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  background: #41D395;
  border: none;
  width: 360px;
  height: 58px;
  border-radius: 0px 0px 5px 5px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}

section.social {
  height: 105px;
  background: #FFFFFF;
  font-family: montserrat;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: auto 30px;
}

section.social img {
  height: 30px;
}

div.social-text h3 {
  font-size: 20px;
}

div.social-text p {
  margin-top: 5px;
  max-width: 394px;
  font-size: 14px;
}

div.social-icon {
  display: flex;
  gap: 80px;
}

section.tabs {
  background: url(../images/mountains.png);
  background-size: cover;
  background-position: center;
  height: 595px;
}

section.tabs {
display: flex;
justify-content: center;
}

div.tab {
  max-width: 509px;
  color: #FFFFFF;
  margin-top: 150px;
}

div.tab h2 {
  font-size: 36px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 33px;
}

div.tab p {
  font-size: 14px;
  margin-top: 20px;
  text-align: justify;
}

div.buttons {
  display: flex;
  flex-direction: column;
  padding-top: 127px;
  gap: 21px;
  margin-right: 54px;
  margin-left: 30px;
}

div.buttons button {
  cursor: pointer;
  height: 100px;
  width: 100px;
  background: #E27866;
  color: #FFFFFF;
  border: none;
}

.tab-image1 {
  display: flex;
  gap: 26px;
}

div.tab-image1 img {
  width: 168px;
  height: 168px;
}

div.tab-image2 img {
  width: 362px;
  height: 177px;
}

div.tab-images {
  margin-top: 114px;
  margin-left: 70px;
  margin-right: 30px;
}














section.explanation {
  display: flex;
  gap: 168px;
  background: #1C1C1C;
  align-items: center;
  justify-content: center;
  height: 595px;
  font-family: montserrat;
  padding: 0 30px;
}

div.logo2 img {
  width: 389px;
}

div.erat {
  width: 460px;
}

div.erat h2 {
  color: #FFFFFF;
  font-size: 30px;
  width: 350px;
  margin-bottom: 56px;
}

div.erat h4 {
  color: #FFFFFF;
  margin-top: 43px;
}

div.erat p {
  color: #FFFFFF;
  font-size: 14px;
  text-align: justify;
}

div.erat img {
  margin-right: 20px;
  margin-top: 43px;
  width: 50px;
}

div.split1 {
  display: flex;
}

div.split2 {
  display: flex;
}

section.awesome {
  height: 592px;
  font-family: montserrat;
}

div.advantages {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 95px;
}

.paragraph {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 65px;
  font-size: 14px;
  color: #86878B;
}

section.awesome h2 {
  color: #212121;
  font-size: 36px;
  text-align: center;
  padding-top: 99px;
}

section.awesome h3 {
  margin-top: 35px;
  color: #333333;
}

div.advantages img {
  width: 20px;
}

div.benefits {
  text-align: center;
  width: 286px;
}

div.benefits p {
  font-size: 14px;
  color: #86878B;
  margin-top: 27px;
}

section.pricing {
  font-family: montserrat;
  background: #6696E2;
  height: 883px;
}

section.pricing > h2 {
  padding-top: 97px;
  font-size: 36px;
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
}

section.pricing > p {
  margin-top: 50px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}

.box {
  width: 343px;
  margin-top: 119px;
}

.price-top {
  background: #333333;
  height: 210px;
  border-radius: 5px 5px 0px 0px;
}

div.box .green {
  background: #41D395;
  height: 6px;
}

.price-bottom {
  background: #FFFFFF;
  height: 240px;
  border-radius: 0px 0px 5px 5px;
}

.container {
  display: flex;
  gap: 40px;
  margin: auto 30px;
  align-items: center;
  justify-content: center;
}

.container h3 {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  padding-top: 14px;
  text-align: center;
}

.container h2 {
  font-size: 94px;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  margin-top: 13px;
}

h2 .smaller-price {
  font-size: 35px;
}

.price-top p {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 50%;
  text-align: center;
  margin-top: 5px;
}

.box-tall {
  width: 343px;
  margin-top: 83px;
}

div.box-tall .green {
  background: #41D395;
  height: 40px;
}

div.box-tall div.green {
  text-align: center;
  padding-top: 10px;
  color: #FFFFFF;
}

div.price-bottom p {
  text-align: center;
  color: #86878B;
  padding: 10px 0;
}

section.slider {
  background: #FFFFFF;
  height: 591px;
  font-family: montserrat;
}

section.slider h2 {
  font-size: 36px;
  text-align: center;
  padding-top: 67px;
}

div.swiper-slide p.quote {
  width: 30vh;
  background: #6696E2;
  font-size: 16px;
  border-radius: 8px;
  padding: 15px;
  line-height: 25px;
}

div.person {
  margin-top: 19px;
  display: flex;
}

div.person .name {
  color: #333333;
  font-size: 20px;
}

div.person .job {
  color: #86878B;
  font-size: 14px;
  margin-top: 4px;
}

div.person div {
  margin-left: 15px;
  margin-top: 10px;
}

div.swiper-slide {
  display: flex;
  justify-content: center;
  gap: 119px;
}

div.person2 {
  margin-top: 25px;
}

.image-triangle {
  position: relative;
}

.image-triangle::before {
  content: "";
  position: absolute;
  top: -35px;
  right: 20px;
  border: 15px solid transparent;
  border-top-color: #6696E2;
}

.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.swiper-pagination-bullet {
  background: none;
  border: 2px solid #E27866;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #E27866;
  width: 10px;
  height: 10px;
}

.swiper {
  width: 1060px;
  height: 350px;
  margin-top: 91px;
}

section.contact-us {
  height: 573px;
  background: #E27866;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.contact-us h2 {
  text-align: center;
  font-size: 36px;
  color: #FFFFFF;
  padding-top: 40px;
}

section.contact-us p {
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  padding-top: 50px;
}

section.contact-us form {
  width: 390px;
  height: 314px;
  background: #FFFFFF;
  margin-top: 27px;
  border-radius: 5px;
}

.contact-info {
  padding-top: 23px;
}

section.contact-us input[type="text"] {
  width: 260px;
  line-height: 20px;
}

section.contact-us div.contact-info {
  padding-left: 65px;
}

section.contact-us div.radio-btn {
  padding-left: 65px;
}

section.contact-us input[type="submit"] {
  display: flex;
  background: #41D395;
  border: none;
  width: 158px;
  height: 48px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 18px;
  margin: 42px auto;
}

footer {
  background: #1C1C1C;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

footer img {
  height: 20px;
}

div.social-icon {
  margin-left: 130px;
}

div.brand {
  margin-right: 130px;
  color: #FFFFFF;
  opacity: 50%;
}


@media (max-width: 768px){
  .links {
    display: none;
  }

  #burger {
    display: block;
    margin-right: 50px;
  }
}
